* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
.text-center{
    text-align: center;
}
.display-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items-center{
    margin-top: 40vh;
}
.mb-10{
    margin-bottom: 10px;
}